* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Gowun Dodum", sans-serif;
}
html {
  height: 100%;
  // min-height: 100%;
  overflow: hidden;
}
body,
#root,
.App {
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a {
  text-decoration: none;
}
body {
  position: relative;
  padding: 0 7vw;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
  }
}

.nav {
  margin-top: 2vw;
  width: 95%;
  ul {
    display: flex;
    list-style: none;
    li {
      // background-color: rgb(46, 112, 143);
      font-size: 2rem;
      margin: 0 10px;
      padding: 5px 20px;
      // border-radius: 10px 10px 0 0;

      a {
        // text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        &:hover {
          transition: all 0.2s;
          color: white;
        }
      }
      .active {
        color: white;
        // transform: scale(1.1);
      }
    }
  }
  hr {
    border: 0;
    border-top: 1px solid white;
  }
}

.portfolio {
  height: 85%;
  margin-top: 3vw;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  color: white;
  .card {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin: 0 30px 10px 0;
    width: 25vw;
    height: 12vw;
    min-width: 280px;
    min-height: 150px;

    &:hover .title {
      display: block;
      opacity: 1;
    }
    .title {
      color: white;
      transition: all 0.3s;
      opacity: 0;
      padding: 18% 0;
      font-size: 2rem;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    img {
      width: 100%;
      height: 100%;
      // position: absolute;
    }
  }
}

.work {
  height: 70%;
  margin-top: 3vw;
  display: flex;
  .left {
    width: 60%;
    img {
      width: 100%;
    }
    .links {
      margin-left: auto;
      // width: 70%;
      margin-top: 3vw;
      display: flex;
      // justify-content: space-evenly;
      justify-content: flex-end;
      gap: 5%;
      a {
        border-radius: 50px;
        color: black;
        font-weight: bold;
        height: 100%;
        background-color: white;
        .link {
          font-size: 1.5rem;
          padding: 5px 30px;
          display: flex;
          align-items: center;
          .icon {
            margin: 0 0 0 30px;
            color: white;
            width: 30px;
          }
        }
      }
    }
  }
  .right {
    width: 35%;
    height: 70%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 50px;
    padding: 30px;
    color: white;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

.about {
  border-radius: 10px;
  margin: 5vw 10vw;
  padding: 5vw;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  line-height: 2.5rem;    
  white-space: pre-line;
  a {
    margin-top: 20px;
    display: inline-block;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50px;
    width: 66px;
    height: 66px;

    img {
      width: 50px;
      height: 50px;
    }
  }
  .skill {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 4px 4px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-size: 0.8em;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 10px 30px;
    .portfolio {
      // height: 50%;
      justify-content: center;
      .card {
        margin: 10px 10px;
        .title {
          bottom: 0;
          padding: 0;
          height: 40px;
          opacity: 1;
          font-size: 1.5rem;
        }
      }
    }

    .work {
      display: flex;
      flex-direction: column;
      .left {
        width: 100%;
        .links {
          width: 100%;
          a {
            .link {
              padding: 10px;

              .text {
                display: none;
              }
              .icon {
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }

      .right {
        font-size: 1.3rem;
        margin: 0;
        margin-top: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .about {
    font-size: 1.2rem;
    margin: 20px 0;
  }
}
